# Jupyter, macOS, Python, and packaging artifacts:
.ipynb_checkpoints/
.DS_Store
__pycache__
.venv
**/movie_project.egg-info/

# Data files:
*.csv
*.db
*.parquet

# Archived and in progress material:
**/_archive/
**/_in_progress/

# Secrets
secret_settings.py
replacements.txt
